@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}
.hidden-box {
  grid-column: 2;
  display: none;
}

.open {
  border-top: 4px solid #fddd00;
}
.open .hidden-box {
  display: block;
}